<div class="row">
<h1>Feats</h1> <hr>
  <div class="column">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Name </th>
          <th>Description</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% @feats.each do |feat| %>
            <tr data-link="<%= feat_path(feat) %>">
                <td> <%= feat.name %></td>
                <td> <%= feat.description %></td>
                <td> <%= feat.bliss_pts %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
