<% content_for(:title, "Zen Tracker") %>
<div class="page header">
  <h1>Zen Tracker</h1>
  <p class="lead">Finding your path to Nirvana one day at a time.</p>
</div>

<div class="row">
  <div class="panel panel-default fixed-panel">
      <%= link_to "Track", new_day_path, class: "fixed-panel btn btn-lg btn-block btn-warning col-md-12 "%>
  </div>
</div>

<div class="row">
  <%= link_to new_feat_path, class: "btn btn-warning" do %>
  <div id=" panel panel-default col-md-6">
  </div>
  <% end %>
  <div id=" panel panel-default">
    <%= link_to "New Obstacle", new_obstacle_path, class: "btn col-md-6 btn-info" %>
  </div>
</div>
